@use "sass:map";
@use "Abstracts/sizes" as s;
@use "Abstracts/colors" as c;
@use "Abstracts/timings" as ti;

.form-radio {
    display: flex;

    border: map.get(s.$components, "input", "border") solid map.get(c.$components, "input", "border");

    background-color: map.get(c.$components, "input", "background");
    color: map.get(c.$components, "input", "surface");
    border-radius: map.get(s.$components, "input", "radius");

    line-height: map.get(s.$components, "input", "line-height");

    cursor: pointer;

    transition:
        background-color map.get(ti.$timings, "fast") linear,
        color map.get(ti.$timings, "fast") linear,
        border-color map.get(ti.$timings, "fast") linear;

    &__button {
        display: flex;
        position: relative;
        align-items: center;

        padding: 0.75ex 1ch 0.75ex 1.5ch;
        border-right: map.get(s.$components, "input", "border") solid map.get(c.$components, "input", "border");

        &::before {
            display: block;

            width: 24px;
            height: 24px;
            border: map.get(s.$components, "input", "border") solid map.get(c.$components, "input", "border");

            background: transparent;

            border-radius: map.get(s.$components, "input", "radius");

            content: "";
        }
    }

    &__label {
        display: flex;
        align-items: center;

        padding: 0.75ex 1.5ch;
        gap: 0.5ch;
    }

    input[type="radio"] {
        $inset: #{map.get(s.$components, "input", "border") * 2};
        visibility: hidden;

        width: 0;
        height: 0;

        + .form-radio__button::after {
            display: block;
            position: absolute;

            top: 50%;
            left: calc(1.5ch + $inset);

            width: 0;
            height: 0;
            transform: translate(0, -50%);

            background: radial-gradient(
                circle at 6px 6px,
                map.get(c.$components, "radio", "inner"),
                map.get(c.$components, "radio", "outer")
            );
            border-radius: 100dvw;

            content: "";

            transition:
                width map.get(ti.$timings, "fast") ease,
                height map.get(ti.$timings, "fast") ease;
        }

        &:checked + .form-radio__button::after {
            width: calc(24px - $inset * 2);
            height: calc(24px - $inset * 2);
        }
    }

    &:hover {
        background-color: map.get(c.$components, "input", "background-focus");
        color: map.get(c.$components, "input", "surface-focus");
    }

    &:has(input[type="radio"]:checked) {
        border-color: map.get(c.$components, "input", "border-focus");

        .form-radio__button {
            border-right-color: map.get(c.$components, "input", "border-focus");
        }

        .form-radio__label {
            color: map.get(c.$components, "radio", "surface-checked");
        }
    }
}
