@use "sass:map";
@use "Abstracts/sizes" as s;
@use "Abstracts/colors" as c;
@use "Abstracts/timings" as ti;

.form-radio {
    display: flex;

    border: map.get(s.$form, "input", "border") solid map.get(c.$form, "input", "border");

    background-color: map.get(c.$form, "input", "background");
    color: map.get(c.$form, "input", "surface");
    border-radius: map.get(s.$form, "input", "radius");

    line-height: map.get(s.$form, "input", "line-height");

    transition:
        background-color map.get(ti.$timings, "fast"),
        color map.get(ti.$timings, "fast"),
        border-color map.get(ti.$timings, "fast");

    &__button {
        position: relative;

        padding: 0.75ex 1ch 0.75ex 1.5ch;
        border-right: map.get(s.$form, "input", "border") solid map.get(c.$form, "input", "border");

        &::before {
            display: block;

            width: 24px;
            height: 24px;
            border: map.get(s.$form, "input", "border") solid map.get(c.$form, "input", "border");

            background: transparent;

            border-radius: map.get(s.$form, "input", "radius");

            content: "";
        }
    }

    input[type="radio"] {
        visibility: hidden;

        width: 0;
        height: 0;

        &:checked + .form-radio__button::after {
            $inset: #{map.get(s.$form, "input", "border") * 2};
            display: block;
            position: absolute;
            inset: calc(0.75ex + $inset) calc(1ch + $inset) calc(0.75ex + $inset) calc(1.5ch + $inset);

            background: radial-gradient(
                circle at 6px 6px,
                map.get(c.$form, "radio", "inner"),
                map.get(c.$form, "radio", "outer")
            );
            border-radius: 100dvw;

            content: "";
        }
    }
}
