@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/timings" as ti;

.form-select__option {
    display: flex;
    position: relative;
    align-items: center;

    width: 100%;
    padding: map.get(s.$form, "select", "option");
    border: 0;

    color: map.get(c.$components, "select", "option-surface");

    text-align: left;

    cursor: pointer;

    transition:
        background-color map.get(ti.$timings, "fast") linear,
        color map.get(ti.$timings, "fast") linear;

    &:not(:first-child) {
        border-top: map.get(s.$form, "select", "border") solid map.get(c.$components, "select", "border");
    }

    &:not(.form-select__option--selected, :hover):nth-child(odd) {
        background-color: map.get(c.$components, "select", "option", "background-odd");
    }

    &:not(.form-select__option--selected, :hover):nth-child(even) {
        background-color: map.get(c.$components, "select", "option", "background-even");
    }

    &:not(.form-select__option--selected):hover {
        background-color: map.get(c.$components, "select", "option", "background-hover");
        color: map.get(c.$components, "select", "option", "surface-hover");
    }

    &--selected {
        background-color: map.get(c.$components, "select", "option", "background-selected");
        color: map.get(c.$components, "select", "option", "surface-selected");
    }

    // subtract the padding of __options from the border radius so it doesn't look weird.
    &:last-child {
        border-bottom-right-radius: calc(map.get(s.$form, "select", "radius") - 1ch);
        border-bottom-left-radius: calc(map.get(s.$form, "select", "radius") - 1ch);
    }
}
