@use "sass:map";
@use "Abstracts/mixins" as m;
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/timings" as ti;
@use "Abstracts/z-indexes" as z;

.flash-message {
    &__wrapper {
        position: fixed;
        top: 0;
        z-index: map.get(z.$index, "modal");

        max-width: map.get(s.$app, "flash", "max");
        padding: 1lh 2ch;
        border: 0;
        margin: 0 auto;

        background: transparent;
    }

    &__dialog {
        display: flex;

        position: relative;

        border: map.get(s.$app, "flash", "border") solid transparent;
        gap: 1ch;

        backdrop-filter: blur(12px);
        border-radius: map.get(s.$app, "flash", "radius");

        &--success {
            background: map.get(c.$state, "success", "background");
            color: map.get(c.$state, "success", "surface");
            border-color: map.get(c.$state, "success", "border");
        }

        &--warning {
            background-color: map.get(c.$state, "warning", "background");
            color: map.get(c.$state, "warning", "surface");
            border-color: map.get(c.$state, "warning", "border");
        }

        &--error {
            background-color: map.get(c.$state, "error", "background");
            color: map.get(c.$state, "error", "surface");
            border-color: map.get(c.$state, "error", "border");
        }

        &--info {
            background-color: map.get(c.$state, "info", "background");
            color: map.get(c.$state, "info", "surface");
            border-color: map.get(c.$state, "info", "border");
        }

        @include m.mqset(
            "padding",
            map.get(s.$app, "flash", "padding", "base"),
            map.get(s.$app, "flash", "padding", "portrait"),
            map.get(s.$app, "flash", "padding", "landscape"),
            map.get(s.$app, "flash", "padding", "desktop")
        );

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;

            transform: translate(50%, -50%);
        }
    }
}
