/******************************************************************************
 * app text links
 * @type {Sass}
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/timings" as ti;

.text-link {
    color: map.get(c.$app, "textlink-surface");

    text-decoration-color: map.get(c.$app, "textlink-decoration");
    text-decoration-style: solid;
    text-decoration-thickness: map.get(s.$app, "textlink-underline-thickness");
    text-underline-offset: map.get(s.$app, "textlink-underline-offset");

    transition:
        color map.get(ti.$timings, "fast") linear,
        text-decoration-color map.get(ti.$timings, "fast") linear;

    &:hover {
        color: map.get(c.$app, "textlink-surface-hover");

        text-decoration-color: map.get(c.$app, "textlink-decoration-hover");
    }
}
