@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/mixins" as m;
@use "Abstracts/z-indexes" as z;

.commander-picker {
    &__wrapper {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }

    &__commander {
        display: grid;
        position: relative;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        padding: map.get(s.$components, "commander-picker", "padding", "base");
        border: 0;

        background-color: map.get(c.$components, "commander-picker", "background");
        color: map.get(c.$components, "commander-picker", "surface");
        border-radius: map.get(s.$components, "commander-picker", "radius");

        column-gap: 1ch;

        text-align: left;

        cursor: pointer;

        &::before {
            position: absolute;
            inset: 0;
            z-index: map.get(z.$index, "background");

            border: map.get(s.$components, "commander-picker", "border") solid transparent;

            background: linear-gradient(
                    to bottom right,
                    map.get(c.$components, "commander-picker", "border-from"),
                    map.get(c.$components, "commander-picker", "border-to")
                )
                border-box;

            border-radius: inherit;
            mask:
                linear-gradient(black, black) border-box,
                linear-gradient(black, black) padding-box;
            mask-composite: subtract;

            content: "";
        }

        @include m.mq("landscape") {
            padding: map.get(s.$components, "commander-picker", "padding", "landscape");
        }
    }

    &__name {
        grid-column: 1;
        grid-row: 1;

        font-weight: bold;
    }

    &__ci {
        grid-column: 2;
        grid-row: 1;

        text-align: right;
    }

    &__faces {
        grid-column: 1;
        grid-row: 2;
    }

    &__partner {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;

        // Compensate for the Material Symbols SVG viewBox padding.
        margin-right: -0.25em;
    }
}
