/******************************************************************************
 * .btn
 * @type {Sass}
 *****************************************************************************/

[class|="btn"] {
    border: 0;
}
