@use "sass:map";
@use "Abstracts/mixins" as m;
@use "Abstracts/sizes" as s;

.form {
    display: flex;
    flex-direction: column;

    gap: 1ex;

    @include m.mq("landscape") {
        gap: 2ex;
    }
}
