@use "Abstracts/mixins" as m;
@forward "btn";
@forward "group";
@forward "input";
@forward "legend";
@forward "otp";
@forward "radio";
@forward "select";
@forward "textarea";

.form {
    display: flex;
    flex-direction: column;

    gap: 1ex;

    @include m.mq("landscape") {
        gap: 2ex;
    }
}
