@use "sass:map";
@use "Abstracts/sizes" as s;
@use "Abstracts/colors" as c;
@use "Abstracts/timings" as ti;

.form-input {
    width: 100%;
    padding: 0.75ex 4ch 0.75ex 2ch;
    border: map.get(s.$form, "input", "border") solid map.get(c.$components, "input", "border");

    background-color: map.get(c.$components, "input", "background");
    color: map.get(c.$components, "input", "surface");
    outline: 0;
    border-radius: map.get(s.$form, "input", "radius");

    line-height: map.get(s.$form, "input", "line-height");
    caret-shape: block;

    transition:
        background-color map.get(ti.$timings, "fast"),
        color map.get(ti.$timings, "fast"),
        border-color map.get(ti.$timings, "fast");

    &:not([readonly]):focus,
    &:not([readonly]):active,
    &:not([readonly]):focus-within,
    &:has(button:not([disabled]):focus) .form-input {
        background-color: map.get(c.$components, "input", "background-focus");
        color: map.get(c.$components, "input", "surface-focus");
        border-color: map.get(c.$components, "input", "border-focus");
    }

    &[readonly],
    &[disabled] {
        cursor: not-allowed;
    }

    // if the form group has an addon, reduce padding on form-input a bit
    // .form-group:has(.form-group__addon) & {
    //    padding-left: 1.5ch;
    // }
}

// if a button in the form group is focussed, show form-input focus styles as well.
.form-group:has(button:not([disabled]):focus) .form-input {
    background-color: map.get(c.$components, "input", "background-focus");
    color: map.get(c.$components, "input", "surface-focus");
    border-color: map.get(c.$components, "input", "border-focus");
}
