@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;

.form-legend {
    display: flex;
    flex-direction: column;

    padding: 0;
    border: map.get(s.$components, "legend", "border") solid map.get(c.$components, "legend", "border");
    margin: 0;

    background-color: map.get(c.$components, "legend", "background");
    color: map.get(c.$components, "legend", "surface");

    list-style: none;
    border-radius: map.get(s.$components, "legend", "radius");

    > li {
        display: flex;

        padding: map.get(s.$components, "legend", "padding");
        gap: 1ch;

        &:first-child {
            padding-top: map.get(s.$components, "legend", "padding-block-start");

            border-top-left-radius: calc(
                map.get(s.$components, "legend", "radius") - map.get(s.$components, "legend", "border")
            );
            border-top-right-radius: calc(
                map.get(s.$components, "legend", "radius") - map.get(s.$components, "legend", "border")
            );
        }

        &:last-child {
            padding-bottom: map.get(s.$components, "legend", "padding-block-start");

            border-bottom-right-radius: calc(
                map.get(s.$components, "legend", "radius") - map.get(s.$components, "legend", "border")
            );
            border-bottom-left-radius: calc(
                map.get(s.$components, "legend", "radius") - map.get(s.$components, "legend", "border")
            );
        }

        > span {
            flex-grow: 1;

            .icon {
                margin: 0 0.5ch;
            }
        }

        &.info {
            background-color: map.get(c.$state, "info", "background");
            color: map.get(c.$state, "info", "surface");
        }

        &.warning {
            background-color: map.get(c.$state, "warning", "background");
            color: map.get(c.$state, "warning", "surface");
        }

        &.error {
            background-color: map.get(c.$state, "error", "background");
            color: map.get(c.$state, "error", "surface");
        }

        &.success {
            background-color: map.get(c.$state, "success", "background");
            color: map.get(c.$state, "success", "surface");
        }
    }
}
