@use "sass:map";
@use "Abstracts/typography" as t;

.form-input__textarea {
    width: 100%;
    padding-right: 1.5ch;

    border-radius: 20px;

    textarea {
        overflow-y: auto;
        width: 100%;
        height: var(--textarea-height);
        border: 0;

        background: transparent;
        outline: 0;

        font-family: map.get(t.$form, "textarea");

        resize: none;
    }
}
