@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;

.dt-body {
    &__row--clickable {
        cursor: pointer;
    }

    &__check {
        width: 2rem;

        vertical-align: middle;
    }

    &__actions {
        width: 3rem;

        button {
            cursor: pointer;
        }
    }

    td {
        padding: map.get(s.$components, "datatable", "padding", "td");

        color: map.get(c.$components, "datatable", "td", "surface");

        &.no-padding {
            padding: 0;
        }

        &:not(:last-child) {
            border-right: map.get(s.$components, "datatable", "border") solid
                map.get(c.$components, "datatable", "border");
        }
    }

    tr:nth-child(odd) td {
        background-color: map.get(c.$components, "datatable", "td", "background", "odd");
    }

    tr:nth-child(even) td {
        background-color: map.get(c.$components, "datatable", "td", "background", "even");
    }

    tr:not(:last-child) td {
        border-bottom: map.get(s.$components, "datatable", "border") solid map.get(c.$components, "datatable", "border");
    }

    tr:last-child {
        td:first-child {
            border-bottom-left-radius: calc(
                map.get(s.$components, "datatable", "radius") - map.get(s.$components, "datatable", "border")
            );
        }

        td:last-child {
            border-bottom-right-radius: calc(
                map.get(s.$components, "datatable", "radius") - map.get(s.$components, "datatable", "border")
            );
        }
    }
}
