/******************************************************************************
 * app layout
 * @type {Sass}
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "Abstracts/mixins" as m;
@use "Abstracts/sizes" as s;

#app {
    display: flex;
    flex-direction: column;

    max-width: map.get(s.$app, "cage");

    min-height: 100dvh;
    margin: 0 auto;
}
