/******************************************************************************
 * base layout: *, html and body tags
 * @type {Sass}
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/mixins" as m;
@use "Abstracts/typography" as t;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    @include m.mqset(
        "font-size",
        #{map.get(s.$app, "font", "base")},
        #{map.get(s.$app, "font", "portrait")},
        #{map.get(s.$app, "font", "landscape")},
        #{map.get(s.$app, "font", "desktop")}
    );
}

body {
    min-height: 100vh;

    background-image: map.get(c.$app, "background-light");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: map.get(c.$app, "surface");

    font-family: map.get(t.$app, "base");
    line-height: 1.4;
    text-decoration-skip-ink: auto;
}

@include m.theme-dark("body") {
    background-image: map.get(c.$app, "background-dark");
}
