@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/shadows" as sh;

.form-group {
    &__addon {
        padding: 0.75ex 1ch 0.75ex 1.5ch;
        border: map.get(s.$form, "input", "border") solid map.get(c.$form, "input", "border");

        background-color: map.get(c.$form, "input", "background");
        color: map.get(c.$form, "input", "surface");
        border-radius: map.get(s.$form, "input", "radius");
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:has(.form-group__addon) .form-input {
        border-left-width: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:focus-within .form-group__addon {
        background-color: map.get(c.$form, "input", "background-focus");
        color: map.get(c.$form, "input", "surface-focus");
        border-color: map.get(c.$form, "input", "border-focus");
    }
}
