@use "sass:map";
@use "Abstracts/mixins" as m;
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@forward "addon";
@forward "error";
@forward "icon";
@forward "input";
@forward "label";
@forward "legend";
@forward "valid";

.form-group {
    display: flex;
    flex-flow: column wrap;

    gap: 1ex;

    @include m.mq("landscape") {
        flex-flow: row nowrap;

        gap: 2ch;
    }

    &__input {
        position: relative;

        flex: 0 0 100%;

        @include m.mq("landscape") {
            flex: 0 0 65%;
            gap: 2ch;
        }
    }

    &__slot {
        display: flex;

        .form-input {
            flex-grow: 1;
        }
    }
}
