@use "sass:map";
@use "Abstracts/sizes" as s;
@use "Abstracts/colors" as c;
@use "Abstracts/shadows" as sh;

.form-input {
    padding: 0.75ex 1ch;
    border: map.get(s.$form, "input", "border") solid map.get(c.$form, "input", "border");

    background-color: map.get(c.$form, "input", "background");
    color: map.get(c.$form, "input", "surface");
    border-radius: map.get(s.$form, "input", "radius");

    &:focus,
    &:active {
        background-color: map.get(c.$form, "input", "background-focus");
        color: map.get(c.$form, "input", "surface-focus");
        outline: 0;
        border-color: map.get(c.$form, "input", "border-focus");
    }
}
