@use "sass:map";
@use "Abstracts/sizes" as s;
@use "Abstracts/mixins" as m;

.form-group {
    > label,
    > .label {
        display: flex;

        flex-grow: 1;

        padding: 0.75ex 0;
        gap: 1ch;

        > span:first-of-type {
            line-height: map.get(s.$form, "input", "line-height");

            @include m.mq("landscape") {
                flex-grow: 1;

                border: map.get(s.$form, "input", "border") solid transparent;

                text-align: right;
            }
        }
    }
}
