/******************************************************************************
 * contextual color tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from ../_index.scss
 * Usage
 * @use "Abstracts/colors" as c;
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "global-color-tokens" as c;

// app base colors
$app: (
    "background-dark": url("Assets/images/bg-dark.jpg"),
    "background-light": url("Assets/images/bg-light.jpg"),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "progress-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.25),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.05)
        ),
    "progress-border": light-dark(map.get(c.$grey, "iron"), color.invert(map.get(c.$grey, "iron"))),
    "progress-gradient": linear-gradient(
            135deg,
            rgb(255 255 255 / 15%) 25%,
            transparent 25%,
            transparent 50%,
            rgb(255 255 255 / 15%) 50%,
            rgb(255 255 255 / 15%) 75%,
            transparent 75%,
            transparent
        ),
    "progress-bar": map.get(c.$state, "pending"),
    "textlink-surface": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "fog")),
    "textlink-surface-hover": light-dark(
            color.adjust(map.get(c.$grey, "asher"), $lightness: -20%),
            color.adjust(map.get(c.$grey, "fog"), $lightness: 20%)
        ),
    "textlink-decoration": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "fog")),
    "usermenu-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.25),
            color.adjust(map.get(c.$grey, "asher"), $alpha: -0.25)
        ),
    "usermenu-surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "infra"))
) !default;

// header colors
$header: () !default;

// colors for main landmark
$main: (
    "background": hsl(from light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "ebony")) h s l / 25%),
    "border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey"))
) !default;

// popover component
$popover: (
    "background": light-dark(
            color.adjust(map.get(c.$grey, "astral"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.5)
        ),
    "item-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.5)
        ),
    "item-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "item-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey"))
) !default;

// theme switch component
$theme: (
    "background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "background-selected": light-dark(map.get(c.$brand, "light1", "color"), map.get(c.$brand, "dark1", "color")),
    "surface-selected": light-dark(map.get(c.$brand, "light1", "contrast"), map.get(c.$brand, "dark1", "contrast"))
) !default;

// styles for app-button
$button: () !default;

// colors for form inputs
$form: () !default;

// colors for search results
$search: () !default;

// colors for footer landmark
$footer: () !default;
