/******************************************************************************
 * contextual color tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from ../_index.scss
 * Usage
 * @use "Abstracts/colors" as c;
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "global-color-tokens" as c;

// app base colors
$app: (
    "background-dark": url("Assets/images/bg-dark.jpg"),
    "background-light": url("Assets/images/bg-light.jpg"),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "progress-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.25),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.05)
        ),
    "progress-border": light-dark(map.get(c.$grey, "iron"), color.invert(map.get(c.$grey, "iron"))),
    "progress-gradient": linear-gradient(
            135deg,
            rgb(255 255 255 / 15%) 25%,
            transparent 25%,
            transparent 50%,
            rgb(255 255 255 / 15%) 50%,
            rgb(255 255 255 / 15%) 75%,
            transparent 75%,
            transparent
        ),
    "progress-bar": light-dark(
            map.get(c.$state, "light", "pending", "color"),
            map.get(c.$state, "dark", "pending", "color")
        ),
    "textlink-surface": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "fog")),
    "textlink-surface-hover": light-dark(
            color.adjust(map.get(c.$grey, "asher"), $lightness: -20%),
            color.adjust(map.get(c.$grey, "fog"), $lightness: 20%)
        ),
    "textlink-decoration": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "fog")),
    "usermenu-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.25),
            color.adjust(map.get(c.$grey, "asher"), $alpha: -0.25)
        ),
    "usermenu-surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "infra"))
) !default;

// header colors
$header: () !default;

// colors for main landmark
$main: (
    "headline": light-dark(map.get(c.$brand, "dark2", "color"), map.get(c.$brand, "light2", "color"))
) !default;

// frosted glass insert
$glass: (
    "background": hsl(from light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "black")) h s l / 25%),
    "surface": light-dark(#000, #fff),
    "border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey"))
) !default;

// popover component
$popover: (
    "background": light-dark(
            color.adjust(map.get(c.$grey, "astral"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.5)
        ),
    "item-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.5)
        ),
    "item-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "item-background-selected": light-dark(map.get(c.$brand, "light1", "color"), map.get(c.$brand, "dark1", "color")),
    "item-surfcace-selected": light-dark(
            map.get(c.$brand, "light1", "contrast"),
            map.get(c.$brand, "dark1", "contrast")
        ),
    "item-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey"))
) !default;

// theme switch component
$theme: (
    "background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "background-selected": light-dark(map.get(c.$brand, "light1", "color"), map.get(c.$brand, "dark1", "color")),
    "surface-selected": light-dark(map.get(c.$brand, "light1", "contrast"), map.get(c.$brand, "dark1", "contrast"))
) !default;

// styles for app-button
$button: (
    "rainbow": (
        "100": light-dark(map.get(c.$rainbow, "light", "100"), map.get(c.$rainbow, "dark", "100")),
        "200": light-dark(map.get(c.$rainbow, "light", "200"), map.get(c.$rainbow, "dark", "200")),
        "300": light-dark(map.get(c.$rainbow, "light", "300"), map.get(c.$rainbow, "dark", "300")),
        "400": light-dark(map.get(c.$rainbow, "light", "400"), map.get(c.$rainbow, "dark", "400"))
    ),
    "background": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "surface": light-dark(#000, #fff),
    "background-disabled": light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "abbey")),
    "surface-disabled": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "fog")),
    "border-disabled": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "asher"))
) !default;

// colors for form inputs
$form: (
    "error": (
        "background": light-dark(
                map.get(c.$state, "light", "error", "color"),
                map.get(c.$state, "dark", "error", "color")
            ),
        "surface": light-dark(
                map.get(c.$state, "light", "error", "contrast"),
                map.get(c.$state, "dark", "error", "contrast")
            ),
        "border": light-dark(
                map.get(c.$state, "light", "warning", "color"),
                map.get(c.$state, "dark", "warning", "color")
            )
    ),
    "input": (
        "border": light-dark(
                color.adjust(map.get(c.$grey, "slate"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "charcoal"), $alpha: -0.25)
            ),
        "background": light-dark(
                color.adjust(map.get(c.$grey, "white"), $alpha: -0.5),
                color.adjust(map.get(c.$grey, "black"), $alpha: -0.5)
            ),
        "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
        "border-focus": light-dark(map.get(c.$brand, "dark1", "color"), map.get(c.$brand, "light1", "color")),
        "background-focus": light-dark(#fff, #000),
        "surface-focus": light-dark(#000, #fff),
        "background-validated": light-dark(
                map.get(c.$state, "light", "success", "color"),
                map.get(c.$state, "dark", "success", "color")
            ),
        "surface-validated": light-dark(
                map.get(c.$state, "light", "success", "contrast"),
                map.get(c.$state, "dark", "success", "contrast")
            ),
        "validating": light-dark(
                map.get(c.$state, "light", "pending", "color"),
                map.get(c.$state, "dark", "pending", "color")
            )
    ),
    "required": (
        "background": light-dark(
                map.get(c.$state, "light", "warning", "color"),
                map.get(c.$state, "dark", "warning", "color")
            ),
        "surface": light-dark(
                map.get(c.$state, "light", "warning", "contrast"),
                map.get(c.$state, "dark", "warning", "contrast")
            )
    ),
    "legend": (
        "border": light-dark(
                color.adjust(map.get(c.$grey, "slate"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "charcoal"), $alpha: -0.25)
            ),
        "background": light-dark(
                color.adjust(map.get(c.$grey, "white"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "black"), $alpha: -0.25)
            ),
        "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog"))
    ),
    "password-strength": (
        "border": light-dark(
                color.adjust(map.get(c.$grey, "slate"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "charcoal"), $alpha: -0.25)
            ),
        "background": light-dark(
                color.adjust(map.get(c.$grey, "infra"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.25)
            ),
        "meter-border": light-dark(
                color.adjust(map.get(c.$grey, "slate"), $alpha: -0.25),
                color.adjust(map.get(c.$grey, "charcoal"), $alpha: -0.25)
            ),
        "meter-bar": linear-gradient(
                to right,
                light-dark(map.get(c.$state, "light", "error", "color"), map.get(c.$state, "dark", "error", "color")),
                light-dark(
                    map.get(c.$state, "light", "warning", "color"),
                    map.get(c.$state, "dark", "warning", "color")
                ),
                light-dark(
                    map.get(c.$state, "light", "pending", "color"),
                    map.get(c.$state, "dark", "pending", "color")
                ),
                light-dark(
                    map.get(c.$state, "light", "success", "color"),
                    map.get(c.$state, "dark", "success", "color")
                )
            )
            padding-box
    )
) !default;

// colors for search results
$search: () !default;

// colors for footer landmark
$footer: () !default;
