/******************************************************************************
 * contextual color tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from ../_index.scss
 * Usage
 * @use "Abstracts/colors" as c;
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "global-color-tokens" as c;

// app base colors
$app: (
    "background-dark": url("Assets/images/bg-dark.jpg"),
    "background-light": url("Assets/images/bg-light.jpg"),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog"))
) !default;

// header colors
$header: () !default;

// colors for main landmark
$main: () !default;

// widget colors
$widget: () !default;

// styles for app-button
$button: () !default;

// colors for form inputs
$form: () !default;

// colors for search results
$search: () !default;

// colors for footer landmark
$footer: () !default;
