/******************************************************************************
 * contextual color tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from ../_index.scss
 * Usage
 * @use "Abstracts/colors" as c;
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color
@use "global-color-tokens" as c;

// app base colors
$app: (
    "background-dark": #{linear-gradient(hsl(from #111 h s l / 70%) 0 0),
    url("Assets/images/bg-dark.jpg")},
    "background-light": #{linear-gradient(hsl(from #eee h s l / 70%) 0 0),
    url("Assets/images/bg-light.jpg")},
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "spinner-1": light-dark(map.get(c.$brand, "viking", color), map.get(c.$brand, "viking", color)),
    "spinner-2": light-dark(map.get(c.$brand, "christine", color), map.get(c.$brand, "christine", color)),
    "icon-required": light-dark(
            color.adjust(map.get(c.$state, "warning"), $lightness: -20%),
            map.get(c.$state, "warning")
        )
) !default;

// header colors
$header: (
    "title": linear-gradient(
            map.get(c.$brand, "viking", "color") 45%,
            #fff 50%,
            map.get(c.$brand, "christine", "color") 60%
        ),
    "navitem-background": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey")),
    "navitem-surface": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "navitem-border": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "navitem-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "navitem-surface-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "navitem-border-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "navitem-background-selected": light-dark(
            map.get(c.$brand, "christine", "contrast"),
            map.get(c.$brand, "viking", "contrast")
        ),
    "navitem-surface-selected": light-dark(
            map.get(c.$brand, "christine", "color"),
            map.get(c.$brand, "viking", "color")
        )
) !default;

// colors for main landmark
$main: (
    "row1-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.7),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.8)
        ),
    "row1-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "row1-background-hover": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.6)
        ),
    "row2-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.4)
        ),
    "row2-background-hover": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.3),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.2)
        ),
    "row2-surface": light-dark(map.get(c.$grey, "bunker"), map.get(c.$grey, "mystic")),
    "highlighted": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.4),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.4)
        ),
    "song-name-surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "infra")),
    "details-meta-link-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "details-meta-link-surface-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "tooltip-background": light-dark(
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.1),
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.1)
        ),
    "tooltip-surface": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "cover-border": light-dark(
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.7),
            color.adjust(map.get(c.$grey, "iron"), $alpha: -0.8)
        ),
    "cover-border-hover": light-dark(
            color.adjust(map.get(c.$grey, "black"), $alpha: -0.6),
            color.adjust(map.get(c.$grey, "white"), $alpha: -0.6)
        ),
    "player-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.6),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.6)
        ),
    "player-border": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.2),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.6)
        ),
    "player-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "player-btn-background": light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "bunker")),
    "player-btn-surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "infra")),
    "player-track": light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "bunker")),
    "player-track-fill": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "player-track-progress": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "autoplay-knob-background": light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "bunker")),
    "page-header-line": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "breadcrumb-item-background": light-dark(map.get(c.$grey, "mystic"), map.get(c.$grey, "bunker")),
    "breadcrumb-item-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "breadcrumb-item-background-active": light-dark(
            map.get(c.$brand, "christine", "contrast"),
            map.get(c.$brand, "viking", "contrast")
        ),
    "breadcrumb-item-surface": light-dark(map.get(c.$grey, "bunker"), map.get(c.$grey, "astral")),
    "breadcrumb-item-surface-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "breadcrumb-item-surface-active": light-dark(
            map.get(c.$brand, "christine", "color"),
            map.get(c.$brand, "viking", "color")
        ),
    "table-border": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.2),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.6)
        ),
    "table-cell-background-odd": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.8),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.8)
        ),
    "table-cell-surface-odd": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "table-cell-background-even": light-dark(
            color.adjust(map.get(c.$grey, "astral"), $alpha: -0.8),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.8)
        ),
    "table-cell-surface-even": light-dark(map.get(c.$grey, "bunker"), map.get(c.$grey, "mystic")),
    "table-cell-background-hover": light-dark(
            color.adjust(map.get(c.$grey, "white"), $alpha: -0.3),
            color.adjust(map.get(c.$grey, "black"), $alpha: -0.3)
        ),
    "table-cell-surface-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "table-select-border": light-dark(
            color.adjust(map.get(c.$grey, "astral"), $alpha: -0.4),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.6)
        ),
    "tabnav-background": light-dark(
            color.adjust(map.get(c.$grey, "astral"), $alpha: -0.6),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.7)
        ),
    "tabnav-surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "astral")),
    "tabnav-border-active": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "tabnav-surface-active": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "tabnav-background-hover": light-dark(#fff, #000),
    "tabnav-surface-hover": light-dark(#000, #fff),
    "bookshelf-book-background": light-dark(
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.7),
            color.adjust(map.get(c.$grey, "iron"), $alpha: -0.8)
        ),
    "bookshelf-book-background-hover": light-dark(
            color.adjust(map.get(c.$grey, "black"), $alpha: -0.4),
            color.adjust(map.get(c.$grey, "white"), $alpha: -0.4)
        ),
    "bookshelf-book-data-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.2),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.2)
        ),
    "bookshelf-book-data-surface": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "accordion-surface": light-dark(map.get(c.$grey, "bunker"), map.get(c.$grey, "infra")),
    "accordion-line-background": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.2),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.2)
        ),
    "accordion-open": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "gorse", "color")),
    "playlist-background-row1": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.7),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.8)
        ),
    "playlist-background-row1-hover": light-dark(
            color.adjust(map.get(c.$grey, "infra"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.6)
        ),
    "playlist-surface-row1": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "playlist-background-row2": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.5),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.4)
        ),
    "playlist-background-row2-hover": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.3),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.2)
        ),
    "playlist-surface-row2": light-dark(map.get(c.$grey, "bunker"), map.get(c.$grey, "mystic")),
    "playlist-song-background-active": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "playlist-song-surface-active": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "modal-backdrop-background": hsl(from light-dark(map.get(c.$grey, "mystic"), map.get(c.$grey, "ebony")) h s l / 50%),
    "modal-background": hsl(from light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")) h s l / 75%),
    "popover-border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "popover-border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey")),
    "popover-background": hsl(from light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "ebony")) h s l / 25%),
    "popover-item-background": light-dark(map.get(c.$grey, "mystic"), map.get(c.$grey, "bunker")),
    "popover-item-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "popover-item-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral"))
) !default;

// widget colors
$widget: (
    "background": hsl(from light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "ebony")) h s l / 25%),
    "loader-background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.05),
            color.adjust(map.get(c.$grey, "bunker"), $alpha: -0.05)
        ),
    "border-from": light-dark(map.get(c.$grey, "iron"), map.get(c.$grey, "asher")),
    "border-to": light-dark(map.get(c.$grey, "fog"), map.get(c.$grey, "abbey")),
    "loader-surface": light-dark(map.get(c.$grey, "asher"), map.get(c.$grey, "iron"))
) !default;

// styles for app-button
$button: (
    "default": (
        "background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
        "surface": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
        "border": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
        "background-hover": light-dark(
                color.adjust(map.get(c.$grey, "astral"), $lightness: -20%),
                color.adjust(map.get(c.$grey, "ebony"), $lightness: -20%)
            ),
        "surface-hover": light-dark(
                color.adjust(map.get(c.$grey, "black"), $lightness: 10%),
                color.adjust(map.get(c.$grey, "white"), $lightness: 10%)
            ),
        "border-hover": light-dark(
                color.adjust(map.get(c.$grey, "black"), $lightness: 10%),
                color.adjust(map.get(c.$grey, "white"), $lightness: 10%)
            ),
        "background-active": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
        "surface-active": light-dark(
                map.get(c.$brand, "christine", "contrast"),
                map.get(c.$brand, "viking", "contrast")
            ),
        "border-active": light-dark(map.get(c.$brand, "christine", "contrast"), map.get(c.$brand, "viking", "contrast"))
    ),
    "primary": (
        "background": light-dark(map.get(c.$brand, "christine", "contrast"), map.get(c.$brand, "viking", "contrast")),
        "surface": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
        "border": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
        "background-hover": light-dark(#fff, color.adjust(map.get(c.$brand, "viking", "contrast"), $lightness: -20%)),
        "surface-hover": light-dark(#000, color.adjust(map.get(c.$brand, "viking", "color"), $lightness: 30%)),
        "border-hover": light-dark(#000, color.adjust(map.get(c.$brand, "viking", "color"), $lightness: 30%))
    )
) !default;

// colors for form inputs
$form: (
    "border": light-dark(map.get(c.$grey, "charcoal"), map.get(c.$grey, "iron")),
    "background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "surface": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog")),
    "border-focus": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "surface-focus": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "select-border": light-dark(
            color.adjust(map.get(c.$grey, "slate"), $alpha: -0.4),
            color.adjust(map.get(c.$grey, "abbey"), $alpha: -0.4)
        ),
    "select-background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "select-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "select-caret": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "select-clear": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color")),
    "option-background-odd": light-dark(map.get(c.$grey, "mystic"), map.get(c.$grey, "bunker")),
    "option-background-even": light-dark(map.get(c.$grey, "infra"), map.get(c.$grey, "abbey")),
    "option-surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "option-background-hover": light-dark(map.get(c.$grey, "white"), map.get(c.$grey, "black")),
    "option-surface-hover": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "option-surface-selected": light-dark(
            map.get(c.$brand, "christine", "contrast"),
            map.get(c.$brand, "viking", "contrast")
        ),
    "option-background-selected": light-dark(
            map.get(c.$brand, "christine", "color"),
            map.get(c.$brand, "viking", "color")
        )
) !default;

// colors for search results
$search: (
    "background": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $alpha: -0.1),
            color.adjust(map.get(c.$grey, "ebony"), $alpha: -0.1)
        ),
    "surface": light-dark(map.get(c.$grey, "ebony"), map.get(c.$grey, "astral")),
    "link-background-odd": light-dark(map.get(c.$grey, "mystic"), map.get(c.$grey, "ebony")),
    "link-background-even": light-dark(
            color.adjust(map.get(c.$grey, "mystic"), $lightness: -5%),
            color.adjust(map.get(c.$grey, "ebony"), $lightness: 5%)
        ),
    "link-background-hover": light-dark(
            map.get(c.$brand, "christine", "contrast"),
            map.get(c.$brand, "viking", "contrast")
        ),
    "link-surface-hover": light-dark(map.get(c.$brand, "christine", "color"), map.get(c.$brand, "viking", "color"))
) !default;

// colors for footer landmark
$footer: (
    "themeswitch-background-selected": light-dark(
            map.get(c.$brand, "christine", "contrast"),
            map.get(c.$brand, "viking", "contrast")
        ),
    "themeswitch-surface-selected": light-dark(
            map.get(c.$brand, "christine", "color"),
            map.get(c.$brand, "viking", "color")
        ),
    "themeswitch-background": light-dark(map.get(c.$grey, "astral"), map.get(c.$grey, "ebony")),
    "themeswitch-surface": light-dark(map.get(c.$grey, "black"), map.get(c.$grey, "white")),
    "themeswitch-border": light-dark(map.get(c.$grey, "abbey"), map.get(c.$grey, "fog"))
) !default;
