/******************************************************************************
 * global color definitions
 * @type {Sass}
 * this global definitions should not be @used in other scss files
 * instead, use
 * @use "Abstracts/colors" as c;
 *****************************************************************************/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "sass:color"; // https://sass-lang.com/documentation/modules/color

// brand colors ===============================================================
$brand: (
    // brand colors #1 and #2 are for dark(er) colors that have a bright(er) contrast
    "light1": (
            "color": #5ea0cf,
            "contrast": #161a31
        ),
    "light2": (
        "color": #d09683,
        "contrast": #300
    ),
    "dark1": (
        "color": #161a31,
        "contrast": #5ea0cf
    ),
    "dark2": (
        "color": #300,
        "contrast": #d09683
    )
) !default;

// greyscale ==================================================================
$grey: (
    "white": #fff,
    "astral": #f6f6f6,
    "mystic": #ededed,
    "infra": #dadada,
    "fog": #c7c7bf,
    "iron": #afb2b2,
    "slate": #929292,
    "charcoal": #7e7e7e,
    "asher": #555f61,
    "abbey": #4c4f56,
    "bunker": #383839,
    "ebony": #1b1a1a,
    "black": #000
) !default;

// action state colors ========================================================
$state: (
    "light": (
        "success": (
            "color": #0e7307,
            "contrast": #fff
        ),
        "warning": (
            "color": #cf8c34,
            "contrast": #000
        ),
        "error": (
            "color": #a6110a,
            "contrast": #fff
        ),
        "pending": (
            "color": #005dac,
            "contrast": #fff
        )
    ),
    "dark": (
        "success": (
            "color": #15a20b,
            "contrast": #000
        ),
        "warning": (
            "color": #ffaa45,
            "contrast": #000
        ),
        "error": (
            "color": #c6170f,
            "contrast": #fff
        ),
        "pending": (
            "color": #006dc9,
            "contrast": #fff
        )
    )
) !default;

// rainbow colors =============================================================
$rainbow: (
    "dark": (
        "100": deeppink,
        "200": royalblue,
        "300": rebeccapurple,
        "400": #008f00
    ),
    "light": (
        "100": #ff0,
        "200": #f0f,
        "300": #f00,
        "400": #b0e0e6
    )
);
