/**
 * keyframes
 */
@keyframes gradient-movement {
    30% {
        --rg-1-x: 70%;
        --rg-1-y: 20%;
    }

    40% {
        --rg-2-x: 120%;
        --rg-2-y: 50%;
    }

    45% {
        --rg-4-x: -10%;
        --rg-4-y: 10%;
    }

    50% {
        --rg-3-x: 50%;
        --rg-3-y: 50%;
    }

    70% {
        --rg-1-x: -10%;
        --rg-2-y: -20%;
    }
}
