/******************************************************************************
 * contextual size tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _group.scss
 * use
 * @use "Abstracts/sizes" as s;
 *****************************************************************************/
@use "sass:math"; // https://sass-lang.com/documentation/modules/math/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "../global-size-tokens" as s;
@forward "app";
@forward "form";
@forward "main";

// size tokens for header landmark
$header: (
    "padding": (
        "base": 0 map.get(s.$padding, "base") map.get(s.$padding, "base"),
        "portrait": 0 map.get(s.$padding, "portrait") map.get(s.$padding, "portrait"),
        "landscape": 0 map.get(s.$padding, "landscape") map.get(s.$padding, "landscape"),
        "desktop": 0 map.get(s.$padding, "desktop") map.get(s.$padding, "desktop")
    ),
    "step-margin": map.get(s.$border, "base") * 4,
    "border": map.get(s.$border, "base"),
    "radius": (
        "base": map.get(s.$radius, "featured"),
        "portrait": map.get(s.$radius, "featured") * 1.5,
        "landscape": map.get(s.$radius, "featured") * 2,
        "desktop": map.get(s.$radius, "featured") * 4
    ),
    "sitelink-divider": math.round(map.get(s.$border, "base") * 1.5),
    "sitelink-divider-radius": math.round(map.get(s.$radius, "base") * 0.5)
) !default;

// size tokens for frosted glass
$glass: (
    "radius": (
        "base": map.get(s.$radius, "featured"),
        "portrait": map.get(s.$radius, "featured") * 1.5,
        "landscape": map.get(s.$radius, "featured") * 2,
        "desktop": map.get(s.$radius, "featured") * 4
    ),
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    ),
    "border": map.get(s.$border, "base")
) !default;

// .btn component
$button: (
    "padding": 0.2rem 1.5rem,
    "border": map.get(s.$border, "featured"),
    "min-height": map.get(s.$icons, "medium"),
    "close": (
        "padding": map.get(s.$border, "base") 0.5rem
    )
) !default;

// popover component
$popover: (
    "radius": map.get(s.$radius, "base"),
    "padding": math.round(s.$base * 0.5),
    "border": map.get(s.$border, "base")
) !default;

// theme switch component
$theme: (
    "radius": map.get(s.$radius, "featured"),
    "padding": math.round(s.$base * 0.2) math.round(s.$base * 0.5)
) !default;

// size tokens for shadows
$shadows: (
    "outline": (
        "1dp": math.round(map.get(s.$border, "base") * 0.5),
        "2dp": math.round(map.get(s.$border, "base") * 1)
    )
) !default;

// size tokens for footer landmark
$footer: (
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    ),
    "border": map.get(s.$border, "base")
) !default;
