/******************************************************************************
 * contextual size tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _group.scss
 * use
 * @use "Abstracts/sizes" as s;
 *****************************************************************************/
@use "sass:math"; // https://sass-lang.com/documentation/modules/math/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "../global-size-tokens" as s;
@use "components" as co;
@use "pages" as pa;
@forward "app";

// size tokens for frosted glass
$glass: (
    "radius": (
        "base": map.get(s.$radius, "featured"),
        "portrait": map.get(s.$radius, "featured") * 1.5,
        "landscape": map.get(s.$radius, "featured") * 2,
        "desktop": map.get(s.$radius, "featured") * 4
    ),
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    ),
    "border": map.get(s.$border, "base")
) !default;

// size tokens for shadows
$shadows: (
    "outline": (
        "1dp": math.round(map.get(s.$border, "base") * 0.5),
        "2dp": math.round(map.get(s.$border, "base") * 1)
    )
) !default;

// size tokens for pages
$pages: (
    "container": pa.$container,
    "containers": pa.$containers,
    "defaults": pa.$defaults
) !default;

// size tokens for components
$components: (
    "accordion": co.$accordion,
    "art-crop": co.$art-crop,
    "badge": co.$badge,
    "breadcrumb": co.$breadcrumb,
    "button": co.$button,
    "cardstack-preview": co.$cardstack-preview,
    "card-legalities": co.$card-legalities,
    "checkbox": co.$checkbox,
    "datatable": co.$datatable,
    "error": co.$error,
    "face-image": co.$face-image,
    "file-upload": co.$file-upload,
    "finish": co.$finish,
    "flag": co.$flag,
    "footer": co.$footer,
    "header": co.$header,
    "headline": co.$headline,
    "input": co.$input,
    "language": co.$language,
    "legend": co.$legend,
    "list": co.$list,
    "modal": co.$modal,
    "otp": co.$otp,
    "paragraph": co.$paragraph,
    "password-strength": co.$password-strength,
    "popover": co.$popover,
    "progress": co.$progress,
    "select": co.$select,
    "stats": co.$stats,
    "sticky-nav": co.$sticky-nav,
    "switch": co.$switch,
    "theme": co.$theme,
    "textlink": co.$textlink,
    "toast": co.$toast
) !default;
