/******************************************************************************
 * settings for timings
 * @type {Sass}
 *****************************************************************************/

$timings: (
    "lightning": 100ms,
    "fast": 150ms,
    "quick": 250ms,
    "medium": 450ms,
    "portly": 650ms,
    "slow": 1000ms,
    "slowish": 1200ms,
    "delayed": 1500ms,
    "glacial": 4000ms
);
