/******************************************************************************
 * z-index layering
 * @type {Sass}
 *****************************************************************************/

$index: (
    "bottomless": -9999,
    "background": -1,
    "default": 0,
    "header": 2,
    "form": 4,
    "select": 6,
    "dropdown": 200,
    "overlay": 1000,
    "progress": 1500,
    "modal": 2000
);
