@use "sass:map";
@use "Abstracts/colors" as c;

.loading-spinner {
    width: var(--pixel-size);
    height: var(--pixel-size);
    transform: rotateZ(45deg);

    color: currentcolor;
    border-radius: 50%;
    perspective: 1000px;

    font-size: var(--pixel-size);

    &::before,
    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        width: inherit;
        height: inherit;
        transform: rotateX(70deg);

        border-radius: 50%;

        content: "";

        animation: 1s spin linear infinite;
    }

    &::after {
        transform: rotateY(70deg);

        color: currentcolor;

        animation-delay: 0.4s;
    }

    &.colored {
        color: map.get(c.$form, "input", "validating");
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: 0.2em 0 0 0 currentcolor;
    }

    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 0.2em 0 0 currentcolor;
    }

    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0 -0.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}
