/******************************************************************************
 * contextual typography tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _group.scss
 * use
 * @use "Abstracts/typography" as t;
 *****************************************************************************/
@use "sass:map";
@use "global-typo-tokens" as t;

$app: (
    "base": map.get(t.$font, "text"),
    "button": map.get(t.$font, "headline")
) !default;
$header: () !default;

// typo for <main> area
$main: (
    "h2": map.get(t.$font, "headline"),
    "h3": map.get(t.$font, "headline"),
    "modal-title": map.get(t.$font, "headline")
) !default;

// type for pages
$pages: (
    "decklist": (
        "format-title": map.get(t.$font, "headline")
    ),
    "deck": (
        "name": map.get(t.$font, "headline")
    )
) !default;

// typo for form elements
$form: (
    "textarea": map.get(t.$font, "mono")
) !default;
$footer: () !default;
