/******************************************************************************
 * contextual typography tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _index.scss
 * use
 * @use "Abstracts/typography" as t;
 *****************************************************************************/
@use "sass:map";
@use "global-typo-tokens" as t;

$app: (
    "base": map.get(t.$font, "text")
) !default;
$header: () !default;
$main: () !default;
$footer: () !default;
