/******************************************************************************
 * global typography definitions
 * @type {Sass}
 * this global definitions should not be @used in other scss files
 * instead, use
 * @use "Abstracts/typography" as t;
 *****************************************************************************/
$-font-text: "Roboto";
$-font-headline: "Nunito";

// font families for use in components
$font: (
    "text": #{'"' + $-font-text + '"',
    -apple-system,
    "BlinkMacSystemFont",
    "Segoe UI",
    "Oxygen-Sans",
    "Ubuntu",
    "Cantarell",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol"},

    "headline": #{'"' + $-font-headline + '"',
    -apple-system,
    "BlinkMacSystemFont",
    "Segoe UI",
    "Oxygen-Sans",
    "Ubuntu",
    "Cantarell",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol"},

    "mono": #{"Menlo",
    "DejaVu Sans Mono",
    "Liberation Mono",
    "Consolas",
    "Ubuntu Mono",
    "Courier New",
    "andale mono",
    "lucida console",
    monospace}
);
