/******************************************************************************
 * popover button
 * @type {Sass}
 *****************************************************************************/
@use "sass:map";
@use "Abstracts/colors" as c;
@use "Abstracts/sizes" as s;
@use "Abstracts/timings" as ti;

.popover-button {
    display: inline-flex;
    align-items: center;

    padding: map.get(s.$app, "popover-font-size");
    border: 0;
    gap: 0.5ch;

    background-color: map.get(c.$components, "popover", "button", "background");
    color: map.get(c.$components, "popover", "button", "surface");

    cursor: pointer;
    anchor-name: v-bind(reference);

    &--rounded {
        border-radius: 100vw;
    }

    &:hover {
        background-color: map.get(c.$components, "popover", "button", "background-hover");
        color: map.get(c.$components, "popover", "button", "surface-hover");
    }

    &--active {
        background-color: map.get(c.$components, "popover", "button", "background-active");
        color: map.get(c.$components, "popover", "button", "surface-active");
    }
}
