/******************************************************************************
 * contextual size tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _index.scss
 * use
 * @use "Abstracts/sizes" as s;
 *****************************************************************************/
@use "sass:math"; // https://sass-lang.com/documentation/modules/math/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "global-size-tokens" as s;

// size tokens used everywhere in the app.
$app: (
    "font": (
        "base": map.get(s.$font, "base"),
        "portrait": map.get(s.$font, "portrait"),
        "landscape": map.get(s.$font, "landscape"),
        "desktop": map.get(s.$font, "desktop")
    ),
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    )
) !default;

// size tokens for header landmark
$header: (
    "font": (
        "base": #{map.get(s.$font, "base") * 1.5},
        "portrait": #{map.get(s.$font, "portrait") * 2},
        "landscape": #{map.get(s.$font, "landscape") * 2.2},
        "desktop": #{map.get(s.$font, "desktop") * 2.5}
    )
) !default;

// size tokens for main landmark
$main: () !default;

// size tokens for widgets
$widget: () !default;

// size tokens for .form-input
$form: () !default;

// size tokens for search results
$search: () !default;

// size tokens for app-button
$button: () !default;

// size tokens for footer landmark
$footer: () !default;
