/******************************************************************************
 * contextual size tokens
 * @type {Sass}
 * these variables are used in other scss files or vue components.
 * this file gets @forwarded from _index.scss
 * use
 * @use "Abstracts/sizes" as s;
 *****************************************************************************/
@use "sass:math"; // https://sass-lang.com/documentation/modules/math/
@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "global-size-tokens" as s;

// size tokens used everywhere in the app.
$app: (
    "font": (
        "base": map.get(s.$font, "base"),
        "portrait": map.get(s.$font, "portrait"),
        "landscape": map.get(s.$font, "landscape"),
        "desktop": map.get(s.$font, "desktop")
    ),
    "cage": map.get(s.$max, "cage"),
    "progress-bar-height": math.round(s.$base * 1),
    "progress-bar-padding": math.round(s.$base * 0.125),
    "progress-radius": map.get(s.$radius, "base"),
    "textlink-underline-thickness": #{map.get(s.$border, "base") * 1.5},
    "textlink-underline-offset": #{map.get(s.$border, "base") * 2.5},
    "icon": s.$icons,
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    )
) !default;

// size tokens for header landmark
$header: (
    "font": (
        "base": #{map.get(s.$font, "base") * 1.5},
        "portrait": #{map.get(s.$font, "portrait") * 2},
        "landscape": #{map.get(s.$font, "landscape") * 2.2},
        "desktop": #{map.get(s.$font, "desktop") * 2.5}
    ),
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    )
) !default;

// size tokens for main landmark
$main: (
    "max-narrow": map.get(s.$breakpoints, "landscape")
) !default;

// size tokens for frosted glass
$glass: (
    "radius": (
        "base": map.get(s.$radius, "featured"),
        "portrait": map.get(s.$radius, "featured") * 1.5,
        "landscape": map.get(s.$radius, "featured") * 2,
        "desktop": map.get(s.$radius, "featured") * 4
    ),
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    ),
    "border": map.get(s.$border, "base")
) !default;

// .btn component
$button: (
    "padding": 0.2lh 3ch,
    "border": map.get(s.$border, "featured")
) !default;

// popover component
$popover: (
    "radius": map.get(s.$radius, "base"),
    "padding": math.round(s.$base * 0.5),
    "border": map.get(s.$border, "base")
) !default;

// theme switch component
$theme: (
    "radius": map.get(s.$radius, "featured"),
    "padding": math.round(s.$base * 0.2) math.round(s.$base * 0.5)
) !default;

// size tokens for .form-input
$form: (
    "input": (
        "radius": 100vw,
        "border": map.get(s.$border, "base"),
        "line-height": map.get(s.$icons, "medium")
    ),
    "error": (
        "radius": map.get(s.$radius, "featured"),
        "border": map.get(s.$border, "base")
    ),
    "icon": map.get(s.$icons, "medium"),
    "legend": (
        "border": map.get(s.$border, "base"),
        "radius": map.get(s.$radius, "featured"),
        "padding": 0.5lh 1ex
    ),
    "password-strength": (
        "border": map.get(s.$border, "base"),
        "radius": map.get(s.$radius, "featured"),
        "padding": 0.5lh 1ex,
        "meter-border": map.get(s.$border, "base"),
        "meter-radius": map.get(s.$radius, "featured")
    ),
    "checkbox": (
        "size": map.get(s.$icons, "medium"),
        "border": map.get(s.$border, "base")
    )
) !default;

// size tokens for search results
$search: () !default;

// size tokens for footer landmark
$footer: (
    "padding": (
        "base": map.get(s.$padding, "base"),
        "portrait": map.get(s.$padding, "portrait"),
        "landscape": map.get(s.$padding, "landscape"),
        "desktop": map.get(s.$padding, "desktop")
    ),
    "border": map.get(s.$border, "base")
) !default;
